
.thumb-container {
  width: 100%;
  padding-bottom: 75%;
  background: #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*Flex items*/
.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}


@media all and (min-width: 80em) {
  .list-item {
    width: 20%;
  }
}
.list-content {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.list-content p {
  flex: 1 0 auto;
}


.list-content h3{
  white-space: nowrap;
}
