:host {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  background: #ffffff;
  visibility: hidden;
  overflow: hidden;
}

.poster-image {
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
