


.youtube-player {
  position: absolute;
  right: 0;
  top: 0;
}






input{
  line-height: 30px;
  font-size: 16px;
  border: solid 1px #fff;
  background: #000;
  color: #fff;

  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
}
